body {
  max-width: 1150px;
  margin: auto;
  font-family: cursive;
}

@media screen and (max-width: 1200px) {
  .add {
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
}

.add {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 221, 215);
  padding: 10px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 2px;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  form {
    display: grid;
    grid-template-columns: 50% 20% 1fr;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }
    gap: 20px;
  }
  .titre-add {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  input {
    height: 25px;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid rgb(205, 205, 205);
    padding-left: 5px;
    font-family: cursive;
  }
  input[type="submit"] {
    height: 100%;
    color: white;
    background-color: rgb(100, 185, 219);
    transition: 0.2s;
    &:hover {
      background-color: rgb(43, 107, 172);
      font-size: 0.9rem;
    }
  }
}

.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 20px;
  .pics {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 280px;
    width: 90%;
    max-width: 255px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .header {
      height: 80%;
      img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px 5px 10px;
      .artiste {
        font-weight: bold;
      }
      .date {
        color: blue;
      }
      .icons {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        @media screen and (max-width: 1200px) {
          visibility: visible;
          opacity: 1;
          color: black !important;
        }
        cursor: pointer;
        transition: 0.7s;
        opacity: 0;
        color: grey;
        span {
          &:hover {
            color: black;
            transform: scale(1.15);
            transition: 0.7s;
          }
        }
      }
    }
    &:hover .icons {
      visibility: visible;
      opacity: 1;
    }
    &:hover {
      box-shadow: 0 4px 40px rgba(32, 129, 227, 0.35);
      transform: scale(1.02);
      transition: 0.2s;
    }
    input[type="button"] {
      color: white;
      font-family: cursive;
      background-color: rgb(100, 185, 219);
      border-radius: 50px;
      transition: 0.2s;
      border: none;
      margin-left: 20px;
      @media screen and (max-width: 800px) {
        margin-left: 0px;
      }
      cursor: pointer;
      &:hover {
        background-color: rgb(43, 107, 172);
        font-size: 0.9rem;
      }
    }
    input[type="text"] {
      width: 50%;
      border-radius: 10px;
    }
  }
}
